@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body,
ul {
  margin: 0;
  padding: 0;
  color: #070707;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

li {
  list-style: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.scroll::-webkit-scrollbar {
  display: none;
}